{% extends "_base.html" %}

{% block content %}
    <div class="my-5">
        <div style="text-align: right;">
            <form method="GET" action="{% url 'product_list' %}">
                <select class="form-group col-md-2" name="store">
                    <option selected></option>
                    {% for store in stores %}
                        <option>{{ store }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-secondary" type="submit">Filtrar</button>
            </form>
        </div>
        {% if object_list %}
            <div class="my-3">
                <h2>{{ object_list.count }} Produtos</h2>
            </div>
            <table class="table table-striped w-auto">
                <thead>
                    <th class="">Imagem</th>
                    <th class="">Nome</th>
                    <th class="">Loja</th>
                    <th class="">Preço</th>
                    <th class="">Tamanhos disponíveis</th>
                    <th>Variação dois últimos preços</th>
                    <th>Variação primeiro atual</th>
                    <th>Última atualização</th>
                    <th>Taxa de Variação</th>
                </thead>
                <tbody>
                    {% for product in object_list %}
                    <tr>
                        <td class=""><img alt="{{ product.name }}" src="{{ product.url_image }}" width="80" height="100"></td>
                        <td class=""><a href="{{ product.url_product }}" target="_blank">{{ product.name }}</a></td>
                        <td class="">{{ product.store.name }}</td>
                        <td class="">R$ <a href="{% url 'product_detail' product.pk %}">{{ product.price_product }}</a></td>
                        {% if product.sizes %}
                            <td class="col-4">
                                {% for size in product.sizes %}
                                    {{ size }}<br>
                                {% endfor %}
                            </td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if product.diff_last_two_prices < 0 %}
                            <td style="color: green;">R$ {{ product.diff_last_two_prices|floatformat:2 }}</td>
                        {% elif product.diff_last_two_prices > 0 %}
                            <td style="color: red;">R$ {{ product.diff_last_two_prices|floatformat:2 }}</td>
                        {% elif product.diff_last_two_prices == 0 %}
                            <td style="color: blue;">R$ {{ product.diff_last_two_prices|floatformat:2 }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}

                        {% if product.diff_first_and_last_prices < 0 %}
                            <td style="color: green;">R$ {{ product.diff_first_and_last_prices|floatformat:2 }}</td>
                        {% elif product.diff_first_and_last_prices > 0 %}
                            <td style="color: red;">R$ {{ product.diff_first_and_last_prices|floatformat:2 }}</td>
                        {% elif product.diff_first_and_last_prices == 0 %}
                            <td style="color: blue;">R$ {{ product.diff_first_and_last_prices|floatformat:2 }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if product.last_update_price_date %}
                            <td>{{ product.last_update_price_date|date:"d/m/Y H:i:s" }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}

                        {% if product.variance_rate_between_first_last_prices < 0 %}
                            <td style="color: green;">{{ product.variance_rate_between_first_last_prices|floatformat:2 }} %</td>
                        {% elif product.variance_rate_between_first_last_prices > 0 %}
                            <td style="color: red;">{{ product.variance_rate_between_first_last_prices|floatformat:2 }} %</td>
                        {% elif product.variance_rate_between_first_last_prices == 0 %}
                            <td style="color: blue;">{{ product.variance_rate_between_first_last_prices|floatformat:2 }} %</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Nenhum produto encontrado!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
            </div>
        {% endif %}
    </div>
{% endblock content %}
