{% extends "_base.html" %}

{% block content %}
    <div class="my-5">
        <table class="table">
            <thead>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Loja</th>
                <th>Preço</th>
                <th>Variação</th>
            </thead>
            <tbody>
                {% for product in object_list %}
                <tr>
                    <td><img alt="{{ product.name }}" src="{{ product.url_image }}" width="80" height="100"></td>
                    <td class="col md-5"><a href="{{ product.url_product }}" target="_blank">{{ product.name }}</a></td>
                    <td class="col md-3">{{ product.store.name }}</td>
                    <td class="col md-8">R$ <a href="{% url 'product_detail' product.pk %}">{{ product.price_product }}</a></td>
                    {% if product.diff < 0 %}
                        <td style="color: green;">{{ product.diff }}</td>
                    {% elif product.diff > 0 %}
                        <td style="color: red;">{{ product.diff }}</td>
                    {% elif product.diff == 0 %}
                        <td style="color: blue;">{{ product.diff }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
